{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | Aleena Muskan</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="portfolio-wrapper">
                    <img src="{% static 'images/portfolio.jpg'%}" id="portfolio-pic">
                    <hr>
                    <h4><b>Hi, I'm Elice!</b></h4>
                    <p>Embark on a coding journey, unraveling the magic of web development.</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <h4><b>Automation Engineer | Back End Developer</b></h4>
                    <hr>
                    <p>As a software developer, understanding the infrastructure of a website is crucial for optimizing performance and ensuring a seamless user experience. One key component often employed for efficient content delivery is a Content Delivery Network (CDN). CDNs help distribute website content across multiple servers worldwide, reducing latency and improving load times.</p>
                    <p>The ever-evolving landscape of web development demands continuous learning and adaptation. Staying informed about the technologies, like CDNs, that power the web allows developers to implement best practices and deliver exceptional digital experiences.</p>
                    <p>Staying informed about the technologies that power the web allows developers to implement best practices and deliver exceptional digital experiences. By incorporating these insights into your development workflow, you contribute to creating faster, more reliable, and globally accessible websites.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h4><b>Software Engineer | Web Developer</b></h4>
                    <hr>
                    <p>Exploring website infrastructure is vital for optimizing performance and user experiences. Content Delivery Networks (CDNs) play a key role, distributing content globally, reducing latency, and enhancing load times.</p>
                    <p>The dynamic field of web development requires ongoing learning and adaptation. Keeping abreast of technologies, such as CDNs, empowers developers to implement best practices, ensuring the delivery of outstanding digital experiences.</p>
                    <p>Staying informed about the technologies powering the web allows developers to contribute to creating faster, more reliable, and globally accessible websites.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h4><b>Code Enthusiast | Tech Explorer</b></h4>
                    <hr>
                    <p>Unraveling website infrastructure is essential for optimizing performance and user experiences. Content Delivery Networks (CDNs) are a key element, globally distributing website content to reduce latency and enhance load times.</p>
                    <p>The ever-changing realm of web development demands continuous learning. Staying updated on technologies like CDNs empowers developers to implement best practices, ensuring the delivery of exceptional digital experiences.</p>
                    <p>Keeping informed about technologies that power the web enables developers to contribute to creating faster, more reliable, and globally accessible websites.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h4><b>Automation Guru | Tech Architect</b></h4>
                    <hr>
                    <p>Deciphering website infrastructure is pivotal for optimizing performance and user experiences. Content Delivery Networks (CDNs) serve a crucial role by globally distributing website content, reducing latency, and improving load times.</p>
                    <p>The ever-evolving landscape of web development necessitates constant learning. Keeping updated on technologies like CDNs empowers developers to implement best practices, ensuring the delivery of extraordinary digital experiences.</p>
                    <p>Staying informed about the technologies that power the web enables developers to contribute to creating faster, more reliable, and globally accessible websites.</p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h4><b>DevOps Engineer | Frontend Specialist</b></h4>
                    <hr>
                    <p>Delving into website infrastructure is essential for optimizing performance and user experiences. Content Delivery Networks (CDNs) play a pivotal role, distributing website content globally to reduce latency and enhance load times.</p>
                    <p>The ever-evolving field of web development demands continuous learning. Keeping abreast of technologies like CDNs empowers developers to implement best practices, ensuring the delivery of exceptional digital experiences.</p>
                    <p>Remaining informed about the technologies that power the web allows developers to contribute to creating faster, more reliable, and globally accessible websites.</p>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>